*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-image: url("./assets/bg-site.png");
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100%;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

@font-face {
  font-family: slight;
  src: url("./assets/Slight-Regular.ttf");
}

@font-face {
  font-family: Fraunces;
  src: url("./assets/Fraunces_72pt-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/Inter_28pt-Regular.ttf");
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.text-gold {
  color: #a47124;
}

#root {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  color: black;
  font-family: Fraunces;
}

.form-control {
  border-color: #1b4a92 !important;
}

.icon-button:hover {
  color: #a47124;
  cursor: pointer;
}

.icon-button:active {
  color: #1b4a92;
}

.icon-button {
  color: #1b4a92;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn.btn-primary {
  font-family: Inter;
  font-weight: 600;
  background-color: #1b4a92;
  min-width: fit-content;
  font-size: medium;
  height: 50px;
}

.btn.btn-secondary {
  background-color: #a47124;
  border-color: #a47124;
  min-width: fit-content;
  margin-top: 16px;

  &:hover,
  &:focus {
    background-color: #c6903f;
    border-color: #a47124;
  }

  &:active {
    background-color: #d08c27 !important;
    border-color: #a47124;
  }
}

.animated-arrow {
  position: absolute;
  top: calc(100vh - 160px);
  left: calc(50% - 40px);
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
